<!DOCTYPE html>
<html lang="en">
<head>
    <body background="https://st3.depositphotos.com/8869430/15749/i/1600/depositphotos_157496812-stock-photo-miniature-car-model-pencil-money.jpg", repeat=N>
    <meta charset="UTF-8">
    <title><center>h1><u>Welcome to The Home Page</u></h1></center><</title>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <center><h1><p>This Page is index page. Please click the below button to obtain your credit statement records</p></h1></center>

    <h3> <center><button value="Click Here" onclick='home.html'>Submit</button></center></h3>
</body>
</html>